<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>gamehud.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>372</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
		</dict>
		<key>leveldone.png</key>
		<dict>
			<key>x</key>
			<integer>351</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
		</dict>
		<key>x2bonus.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>circle.png</key>
		<dict>
			<key>x</key>
			<integer>377</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
		</dict>
		<key>hint-started.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>348</integer>
			<key>width</key>
			<integer>218</integer>
			<key>height</key>
			<integer>10</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>hint.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>407</integer>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
		</dict>
		<key>Uretry.png</key>
		<dict>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>333</integer>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1</real>
		</dict>
		<key>start.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>170</integer>
			<key>width</key>
			<integer>349</integer>
			<key>height</key>
			<integer>176</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-2</real>
		</dict>
	</dict>
</dict>
</plist>